### Assignment 1 Solutions

#### 1. In the below elements which of them are values or an expression? **eg:-** values can be integer or string and expressions will be mathematical operators.  
`*`,`'hello'`, `-87.8`,`-`,`/`,`+`,`6`

**Ans:** There are a total of 4 Operators and 3 Expressions, They are:  
**Expressions:** `*`,`-`,`/`,`+`  
**Values:** `'hello'`, `87.8`, `6`

#### 2. What is the difference between string and variable?
**Ans:** A Variable is used to store of information, and a String is a type of information you would store in a Variable. A String is a group of characters or a single character usually enclosed in Double quotes `" "` or single quotes `' '`

**Example :** data = "Hello, World", here data is 'variable', 'Hello, World' is string

#### 3. Describe three different Data Types ?
**Ans:** Three fundamental Data types in python are `int`, `float`, `complex`.
1. **int data type**: This value is represented by int class. It contains positive or negative whole numbers (without fraction or decimal, integral values)
2. **float data type**: This value is represented by float class. It is a real number with floating point representation. It is specified by a decimal point (decimal values)
3. **complex data type**: Complex number is represented by complex class. It is specified as (real part) + (imaginary part)j.

In [4]:
# Example for Question 3. Describe three different Data Types ?
a = 5
print("Type of a: ", type(a))
  
b = 5.0
print("\nType of b: ", type(b))
  
c = 2 + 4j
print("\nType of c: ", type(c))

Type of a:  <class 'int'>

Type of b:  <class 'float'>

Type of c:  <class 'complex'>

#### 4. What is an expression made up of? What do all expressions do?
**Ans:** An expression is a construct made up of variables, operators, and method invocations, which are constructed according to the syntax of the language, that evaluates to a single value.

#### 5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?
**Ans:**

#### 6. After running the following code, what does the variable bacon contain? 
**bacon**= 22

**bacon**+ 1

**Ans:** The variable bacon output is 22. The expression bacon + 1 does not reassign any value to bacon,But in case of becon = becon + 1 will assign the values to becon

In [1]:
# Question 6
# Example Case#1
bacon=22
bacon+1
print(bacon)

22

In [2]:
# Question 6
#Example Case#2
bacon=22
bacon=bacon+1 
print(bacon)

23

#### 7. What should the values of the following two terms be?
'spam'+'spamspam'

'spam'*3

**Ans:** Both the cases of answer is same 'spamspamspam'

In [3]:
# 7th Question Answer
'spam' + 'spamspam' #String Concatentation

'spamspamspam'

In [5]:
# 7th Question Answer
'spam'*3 #String Multiplication

'spamspamspam'

#### 8. Why is eggs a valid variable name while 100 is invalid?

**Ans:** As per python,Variable names cannot begin with a number. The python rules for naming a variable are :- 
1. Variable name must start with a letter or the underscore character.
2. Variable name cannot start with a number.
3. Variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, & _ ).
4. Variable names are case-sensitive (name, `INEURON` and `ineuron` are three different variables).
5. The reserved words(keywords) cannot be used naming the variable.

In [7]:
egg='Ineuron' # Valid variable 
print(egg) #prints the value of egg ie Ineuron

Ineuron

In [8]:
100='hello' # Invalid Variable
print(100) # Raises a Syntax Error as 100 is not a valid variable name

SyntaxError: cannot assign to literal (Temp/ipykernel_18312/3966308127.py, line 1)

#### 9.What three functions can be used to get the integer,floating-point number,or string version of a value?
**Ans:** The `int()`,`float()`,and `str()` functions will evaluate to the integer,floating-point number,string version of the value given to them.

In [12]:
# Question 9 amples 
print('int(100.0) -> ',int(100.0)) # int() function converts given input to int
print('float(100) -> ',float(100)) # float() function converts given input to float
print('str(100) -> ',str(100)) # str() function converts given input to string

int(100.0) ->  100
float(100) ->  100.0
str(100) ->  100

#### 10.Why does this expression cause an error? how can you fix it?  
`'I have eaten ' + 99 + 'burritos.'`

**Ans:** The reason for error is 99.because 99 is not a string. 99 must be typecasted to a string to fix this error. the correct way is:  
**Input:** `'I have eaten ' + str(99) + 'burritos.'`  
**Output:** `'I have eaten 99 burritos.'`

In [13]:
'I have eaten ' + str(99) + 'burritos.'

'I have eaten 99burritos.'